{
    "presets": [
        "@babel/react",
        "@babel/env"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ]
}