.block-group {
  position: absolute;
  width: 100px;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  z-index: 2;
  border-radius: 10px;
  border: 1px solid #aaa;
  background: #ddd;
}

.animate-appear {
  animation: 0.3s appear 0s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
