.tag-group {
  position: absolute;
  cursor: pointer;
  user-select: none;
  z-index: 3;
  width: 100px;
  height: 32px;
}

.animate-appear {
  animation: 0.3s appear 0s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
