.tag-group {
  position: absolute;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

.animate-appear {
  animation: 0.3s appear 0s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tag-group .icon-plus {
  -webkit-mask-image: url(../svg/plus.svg);
  mask-image: url(../svg/plus.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
}
